# Ignore Python virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
nltk
# Ignore logs and cache
*.log
*.sqlite3
*.db
instance/
*.pid

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore VSCode settings (if using VSCode)
.vscode/

# Ignore environment variables
.env

# Ignore Flask cache
flask_session/

# Ignore React dependencies
frontend/node_modules/

# Ignore React build folder (if built)
frontend/build/

# Ignore system files
.DS_Store
Thumbs.db
